<div class="col-xs-2">
	<ul class="nav nav-list">

	<hr>

	<li class="nav-header"><big><b>博文分类</b></big></li>
	{% for category in site.categories %}
	<li><a href="/category/#{{ category[0] }}">{{ category[0] }}</a></li>
	{% endfor %}

	<hr>

	<li class="nav-header"><big><b>Tags</b></big></li>
	{% for tag in site.tags %}
        <big><a class="label label-info" href="/tags/#{{ tag[0] }}">{{ tag[0] }}</a></big>
	{% endfor %}

	<hr>

	<li class="nav-header"><big><b>链接</b></big></li>
	<li><a href="https://www.junchaowang.com">Junchao's Blog</a></li>
	<li><a href="http://jandan.net/">煎蛋网</a></li>

  	</ul>
</div>
